/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../img/green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(../img/green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

.loginscreen.middle-box {
    width: 407px;
    width: 420px;
    padding: 1em;
    background: #f5f5f5;
    width: 420px;
}
.middle-box {
    max-width: 342px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.full-width {
    width: 100% !important;
}
.m-b {
    margin-bottom: 15px;
}
.btn-w-m {
    min-width: 100px;
}
.btn {
    border-radius: 3px;
}
.title-login{
    font-size: 30px;
    font-weight: 300;
}
.login-button{
    background:#35CAED !important;
    border-radius: 0 !important;
    border: 1px solid #36caed;
    margin: 11px 0 0 0;
}
.login-labels{
    color: #676A6C;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.forget{
    color: #72767B;
    font-family: "Open Sans";
    font-size: 13px;
    margin: 11px 0 0 0;
}
.box-loan {
    background: #F5F5F5;
    border: 1px solid red;
    margin-right: 15px;
    height: 530px;
    width: 306px;
}

.foto-term-loan {
    height: 251px;
    width: 370px;
    padding-top: 23px;
    padding-right: 15px;
}

.term-load {
    height: 38px;
    width: 320px;
    color: #00659C;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
}

.best-for-long-term-g {
    height: 85px;
    width: 343px;
    color: #676A6C;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 28px;
}
.fsi-footer {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    background: #002235;
    color: #ffffff;
    min-height: 210px;
}


.fsi-footer .logo-names {
    margin-top: 100px;
    width: 400px;
    margin-left: -15px;
    display: flex;
    align-items: center;
}

.fsi-footer .fa.fa-shield {
    font-size: 40px;
}

.fsi-footer .logo-names b {
    font-weight: 600;
}
.fsi-footer .logo-names span {
    font-weight: 300;
}



.fsi-footer .side-menu {
    margin-top: 30px;
    padding-top: 10px;
    width: 240px;
    font-size: 16px;
    text-transform: uppercase;
}

.fsi-footer .side-menu .side-menu-item {
    padding: 10px;
}

.fsi-footer .side-menu .side-menu-item:hover {
    color: #35CAED;
    cursor: pointer;
}

.copyright {
    font-weight: 600;
    font-size: 13px;
    height: 80px;
    background: #002235;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.fsi-footer .contacts {
    margin-top: 30px;
    padding-top: 10px;
    width: 290px;
    border-left: 1px solid #ffffff;
    font-size: 16px;
    padding-left: 60px;
}



.fsi-footer .contacts .item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.fsi-footer .contacts .fa {
    font-size: 36px;
    color: #35CAED;
}

.fsi-footer .contacts .labels {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 20px;
}

.fsi-footer .contacts .item:hover .labels {
    color: #35CAED;
}

